<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 class="abts" >welcome to about us page By {{name}} and i m {{age}} years old</h1>
    <p class="pgrf">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque autem doloribus provident facilis quis odit quas, modi itaque doloremque numquam sed laboriosam recusandae quos praesentium sapiente maiores accusamus eius illo?
    Rem quasi libero dignissimos exercitationem minus. Aliquam minima quae, qui explicabo modi saepe eveniet inventore ipsa. Quod, ea officia voluptate nulla nesciunt excepturi, ullam iure, numquam qui illum deleniti magni?
    Aliquam, voluptate eum sequi assumenda laborum, doloribus perspiciatis doloremque consectetur itaque animi nulla, commodi atque eaque qui explicabo reiciendis excepturi soluta corrupti dicta consequatur incidunt. Corrupti ducimus reiciendis odit amet!
    In labore aspernatur vitae nostrum deleniti aliquam, voluptatum omnis expedita nemo dolores magnam libero explicabo atque natus fugiat voluptatibus modi incidunt, distinctio repellendus officiis at est maiores. Id, unde blanditiis!
     explicabo itaque, magni cum. Earum.
    Voluptatibus ipsa deserunt beatae eum, facere distinctio et? Eaque harum incidunt doloremque cumque eum quam delectus illo quis cupiditate dolores consectetur voluptatum, adipisci sequi et repellat unde. Vel, doloremque iure.
    Mollitia, cum! Qui, nobis possimus? Pariatur magnam vel voluptatum, non numquam explicabo unde at ut quod possimus iusto facilis ab, necessitatibus hic, molestias minima quis quam. Possimus ab aperiam doloribus.
    Ea modi fugiat in. Ad temporibus enim voluptate soluta, fuga distinctio quidem! Velit corporis reprehenderit, corrupti iure culpa voluptate a esse voluptatibus voluptatem natus. Mollitia facere est perspiciatis eos voluptatibus.</p>
{{>footer}}
</body>
</html>
<style>
   
   

</style>