{{!-- using partials --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4 ftr">© 2021-Amir
        Majeed.
        <a href="" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank"> </a>
      </p>
</body>
</html>
<style>
.ftr{
    color: rgb(238, 206, 146);
    text-align: center;
}
</style>